* {
  box-sizing: border-box;
}

html {
  background-color: #f8d8d4;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #e9b6b5;
  padding: 10px 30px;
  width: 100%;
  top: 0;
}

.top-bar-icons {
  align-items: center;
  display: flex;
  height: 26px;
  padding: 4px 2px;
  margin-right: 50px;
}

.combined-shape {
  align-self: flex-start;
}

.vector {
  margin-left: 26px;
}

.vector-1 {
  margin-left: 27px;
}

.menu-button {
  height: 35px;
  width: 35px;
  position: absolute;
  top: 25%;
  left: 10px;

}


.taskbar {
  align-items: center;
  justify-content: space-between;
  background-color: #e9b6b5;
  display: flex;
  position: relative;
  height: 60px;
  width: 100%;
  bottom: 0;
  padding-left: 0px;
  padding-right: 20px;
}

.time {
  color: #6f445c;
}

#DateAbbr {
  margin-right: 7px;
}

.time ul {
  padding: 0;
  list-style-type: none;
  display: flex;
}

.desktop-icons {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}

.desktop-icon-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #6f445c;
  margin-bottom: 50px;
 height:100%;
}

.desktop-icon {
  padding: 8px;
  cursor: pointer;
  -webkit-filter: drop-shadow(2px 2px 0px #6f445c65);
  filter: drop-shadow(2px 2px 0px #6f445c65);
}

.desktop-icon:hover {
  -webkit-filter: drop-shadow(6px 6px 0px #6f445c65);
  filter: drop-shadow(6px 6px 0px #6f445c65);
}

.desktop {
  height: 100%;
  max-height: calc(100vh - 131px);
  overflow: auto;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  box-shadow:
    inset 0px 11px 10px -10px #6f445cbd,
    inset 0px -11px 10px -10px #6f445cbd;
}

.window {
  border: 3px solid #6f445c;
  border-radius: 15px;
  position: absolute;
  background: #f5cecb;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  color: #6f445c;
  z-index: 1;
  max-width: 90%;
  max-height: 100%;
  box-shadow: 3px 3px 0px #6f445c65;
}

.window:hover {
  box-shadow: 6px 6px 0px #6f445c65;
}

.windowbar {
  border-bottom: 3px solid #6f445c;
  cursor: grab;
  width: 100%;
  background-color: #e9b6b5;
  padding: 5px 12px;
  display: flex;
  position: relative;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.windowbar .controls {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  margin-left: auto;
  margin-right: 0;
}

.windowbar .controls span {
  display: block;
  cursor: pointer;
  padding: 5px;
}

.windowbar img {
  height: 18px;
  width: 18px;
}

.windowbar-2 {
  border-bottom: 3px solid #6f445c;
  width: 100%;
  background-color: white;
  padding: 5px 12px;
  display: flex;
  position: relative;
  align-items: center;
  font-family: 'Roboto', sans-serif;

}

.windowbar .controls span.close {
  padding: 3px;
  border: 2px solid #6f445c;
  border-radius: 5px;
  line-height: 0;
}

.close:hover {
  background-color: #fff;
}


.windowbar .close img {
  height: 12px;
  width: 12px;
}

.window-content {
  padding: 10px;
}

.window-1 {
  width: 21vw;
  height: 30vh;
  min-width: 325px;
  top: 5%;
  left: 8%;
  background: #F9EEF1;

}

.window-2 {
  width: 9vw;
  height: 22vh;
  min-width: 300px;
  left: 8%;
  bottom: 14%;
  background-image: url(purplebg.png);

}

.window-3 {
  width: 9vw;
  height: 22vh;
  min-width: 300px;
  left: 14%;
  bottom: 27%;

  background-color: #D8EDFA;
}

.window-3 .window-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.window-4 {
  right: 14%;
  top: 9%;
  bottom: 13%;
  height: 70vh;
  width: 52vw;
  min-width: 500px;
  background-color: #F9EEF1;
 
}


.window-5 {
  width: 21vw;
  height: 30vh;
  min-width: 325px;
  top: 9.25%;
  left: 9%;
  background: #F9EEF1;
}

.window-6 {
  width: 18vw;
  height: 40vh;
  min-width: 325px;
  top: 37%;
  left: 57%;
  background: #F9EEF1;
  
}

.window-6 .artwork-wrap img {
  /*max-width: 380px;*/
 width: 100px;
}


.window-6 .window-content {
  display: flex;
  align-items: center;
  justify-content: center;
  }
.window-7 {
  position: fixed;
  top: 40%;
  left: 40%;
  background: #F9EEF1;
  width: 21vw;
  height: 24vh;
  min-width: 325px;
  z-index: 999;
}

.window-8 {
  position: fixed;
  top: 40%;
  left: 40%;
  background: #F9EEF1;
  width: 21vw;
  height: 24vh;
  min-width: 325px;
  z-index: 999;
}

.window-9 {
  width: 21vw;
  height: 35vh;
  min-width: 325px;
  top: 23%;
  left: 26%;
}

.window-9 img {
 width: 105%;

}
.window-9 .window-content {
  padding: 0;
  margin: 0;
}

.window-10 {
  right: 14%;
  top: 9%;
  bottom: 13%;
  height: 70vh;
  width: 52vw;
  min-width: 500px;
  background-color: #F9EEF1;
 
}

.window-11 {
  right: 14%;
  top: 9%;
  bottom: 13%;
  height: 30vh;
  width: 40vw;
  min-width: 500px;
  background-color: #F9EEF1;
 
}
.window-11 .window-content {
 font-size: 60px;
 }


 .window-12 {
  width: 21vw;
  height: 35vh;
  min-width: 325px;
  top: 43%;
  left: 16%;
}

.window-12 img {
 width: 105%;

}
.window-12 .window-content {
  padding: 0;
  margin: 0;
}

.window-14 {
  width: 21vw;
  height: 30vh;
  min-width: 325px;
  top: 50%;
  left: 50%;
  background: #F9EEF1;
}

.window-14 .window-content{
  overflow: scroll;
}

.explorer {
  width: 21vw;
  height: 30vh;
  min-width: 325px;
  top: 3%;
  left: 6%;
  background: #F9EEF1;
  
}

.explorer button{
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  background-color: #e9b6b5;
  color: #6f445c;
}
.login {
  width: 21vw;
  height: 80vh;
  min-width: 325px;
  background: #F9EEF1;
  box-shadow: 2px 2px 5px rgba(17, 17, 17, 0.4);
}

.login .window-content {
  text-align: center;
}

.login-whiteout {
  z-index: 9999999999;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(102, 87, 94, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-whiteout {
  z-index: 999999999;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(102, 87, 94, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-2-whiteout {
  z-index: 999999999;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(102, 87, 94, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar {
  width: 30vh;
  align-content: center;
}

.icon-1,
.icon-2,
.icon-3,
.icon-5,
.icon-6,
.icon-7,
.icon-8,
.icon-9 {
  width: 140px;
}

.icon-4 {
  width: 130px;
}

/* Dropup Button */
.dropbtn {
  cursor: pointer;
  background-color: #e9b6b5;
  color: #6f445c;
  padding: 16px;
  font-size: 16px;
  border: none;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: 10;
  animation-fill-mode: forwards;

}


@keyframes blink {
  0%   {background-color: white;}
  100% {background-color: #e9b6b5;}
}

/* The container <div> - needed to position the dropup content */
.dropup {
  position: relative;
  display: inline-block;
}

/* Dropup content (Hidden by Default) */
.dropup-content {
  display: none;
  position: absolute;
  bottom: 50px;
  background-color: #f1f1f1;
  min-width: 280px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 3px solid #6f445c;
  border-radius: 15px;
  overflow: hidden;
  z-index: 999999;
}

/* Links inside the dropup */
.dropup-content button {
  width: 100%;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  border: 0;
  color: #6f445c;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  padding: 15px;
  padding-right: 25px;
  display: flex;
  align-items: center;

}

.dropup-content img {
  width: 7vw;
  padding: 15px;
}

/* Change color of dropup links on hover */
.dropup-content button:hover {
  background-color: #ddd;


}



/* Show the dropup menu on hover */
.dropup:hover .dropup-content {
  display: block;
  z-index: 999999;
}

/* Change the background color of the dropup button when the dropup content is shown */
.dropup:hover .dropbtn {
  background-color: #BFC9F6;

}

textarea {
  width: 100%;
  height: 100%;
  border: none;
  background-color: white;
  padding: 10px;

}

.login button {

  font-family: roboto;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border: 1px solid #fff;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e9b6b5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6f445c;
}

.hide {
  display: none;
}

.ui-tabs {
  height: 100%;
  background-color: #F8D8D4;

}

.ui-tabs ul {
  display: flex;
  flex-grow: 0;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ui-tabs ul li:not(.ui-state-active) a:hover {
  background-color: #e9b6b5;
}

.ui-tabs ul li.ui-state-active {
  background-color: #fff;
}

.ui-tabs a {
  display: block;
  padding: 7px 40px 7px 15px;
  color: #6f445c;
  text-decoration: none;
}

.ui-tabs-panel {
  height: 100%;
  background-color: #fff;
  border-top: 0;
  padding: 15px;
  overflow: scroll;
}

.ui-tabs-panel p {
  margin: 0;
}

.window-content.with-tabs {
  height: 100%;
  padding: 0;
}


.sidebar ul {
  padding: 15px;
  padding-top: 0px;
}


.tabs-1 p {
  font-size: xx-large;
}

.backpack-contents {
  width: 100%;

}


.icon-wrap img {
  width: 35px;
 
}


.text-wrap-1 {
  font-weight: 900;
  font-size: 62px;
  font-style: oblique;

}

.tabs-3 {
  overflow: scroll;
}



.login h1 {

  font-size: 60px;
}

.refreshbutton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.top {
  z-index: 9999;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 0.5fr 1.8fr 0.4fr;
  gap: 20px 20px;
 
  grid-template-areas:
    "title title"
    "me about"
    "socials socials";
}

.me { grid-area: me;  border-radius: 15px; background-image: url("me.jpg"); background-size: 300px; background-repeat: no-repeat;}
.title { grid-area: title; background-color:#E6B1DF ;  border-radius: 10px; display:flex; justify-content: center; align-content: center;}
.about { grid-area: about;}
.socials { grid-area: socials; justify-items: center; }


.about a {
white-space: nowrap;
display:inline-block;
padding: 0px;
}

.icon-wrap{
display:flex;
justify-content: center;
align-content:center;
background-color:#D8EDFA;
border-radius: 10px;
}

.research-text {

  padding:20px;
}

.tabs-1 .title {
  background-color: #D8EDFA;
}

.grid-container-2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas:
    "title title title title"
    "headline headline headline headline"
    "thumbnail thumbnail news-text news-text";
}
.title { grid-area: title; }
.headline { grid-area: headline; background-image: url(); background-repeat: no-repeat;}
.thumbnail { grid-area: thumbnail; }
.news-text { grid-area: news-text; }